{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block page_header %}
<div class="container ">
<div class="jumbotron d-none d-md-flex p-0 b-0 m-0 card card-image">
{% cloudinary "https://res.cloudinary.com/chickpeas/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1598970250/rabbit.jpg" JUMBO %}
</div>
</div>
{% endblock %}
{% block content %}
  <div class="container">
  <h1 class="text-center">Featured Critters</h1>
  <hr>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  {% for product in products %}
  {% if product.featured == True %}  
  <div class="col mb-4">
    <!-- Card -->
    <div class="card">  
      <!--Card image-->
      <div class="view overlay">
      {% if product.image %}
        <img class="card-img-top" src="{{ product.image.url }}"
          alt="Card image cap">      
      {% else %}
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
          alt="Card image cap">
      {% endif %}          
        <a href="{% url 'product_detail' product.id %}">
          <div class="mask rgba-white-slight"></div>
        </a> 
      </div>

      <!--Card content-->
      <div class="card-body bg-color-2 text-dark">

        <!--Title-->
        <h4 class="card-title">{{product.name}}</h4>
        <!--Text-->
        <p class="card-text text-dark">{{product.price}}</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn bg-color-3 text-color-5 btn-md">Add to Cart</button>

      </div>
    </div>
    <!-- Card --> 
  </div>          
  {% endif %}
  {% endfor %}  
  </div>  
</div>

{% endblock %}