{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
{% endblock %}
{% block content %}
    <div class="container mb-3 pr-3">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Critter Gallery</h2>
                <hr>
            </div>
        </div>
        <div class="row bg-color-2 rounded pt-3">
            <div class="col">
                <h2 class="logo-font mb-4">Welcome to the critter gallery! Here you can find pictures of critters.</h2>
                <hr>                
                <p>Log in or Create an account to add pictures of critters you purchased here.</p>
                <a class="btn bg-color-3" href="{% url 'add_entry' %}">Add a Critter</a>
            </div>
        </div>
        <div class="grid p-3">
                {% for entry in entries %}
                {% if entry.critter_type != 'Dirt' %}  
                <div class="grid-item card card-flip rounded bg-color-2">
                    <div class="card-front">
                {% cloudinary entry.image.url GALLERY %}
                    </div>
                    <div class="card-back card bg-color-2 text-dark rounded justify-content-center">
                        <h3>{{ entry.critter_name }}</h3>
                        <h5>Critter: {{ entry.critter_type }}</h5>
                        <p><strong>{{ entry.critter_info }}</strong></p>
                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                        <a href="{% url 'edit_entry' entry.entry_number %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_entry' entry.entry_number %}">Delete</a>
                        </small>
                        {% endif %}                                              
                    </div>
                </div>                   
                {% endif %}    
                {% endfor %}
        </div>
    </div>    
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
    $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 300
});
    </script>
{% endblock %}