<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
  <a class="navbar-brand" href="#">Kyle's Critters</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle multi-level-dropdown"
          id="products-dropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Products
        </a>
        <ul
          style="list-style-type: none;"
          class="dropdown-menu mt-2 rounded-0 white border-0 z-depth-1"
        >
          <li class="dropdown-item dropdown-submenu p-0">
            <a
              href="#"
              data-toggle="dropdown"
              class="dropdown-toggle dropdown-item w-100"
              >Critters
            </a>
            <ul
              class="dropdown-menu mr-2 rounded-0 white border-0 z-depth-1 r-100"
            >
              <li class="dropdown-item dropdown-submenu p-0">
                <a
                  href="#"
                  data-toggle="dropdown"
                  class="dropdown-toggle dropdown-item w-100"
                  >Pedigree Critters
                </a>
                <ul
                  style="list-style-type: none;"
                  class="dropdown-menu mr-2 rounded-0 white border-0 z-depth-1 r-100"
                >
                  <li class="dropdown-item p-0">
                    <a href="#" class="dropdown-item w-100">How</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu p-0">
                <a
                  href="#"
                  data-toggle="dropdown"
                  class="dropdown-toggle dropdown-item w-100"
                  >Feeders
                </a>
                <ul
                  style="list-style-type: none;"
                  class="dropdown-menu mr-2 rounded-0 white border-0 z-depth-1 r-100"
                >
                  <li class="dropdown-item p-0">
                    <a href="#" class="dropdown-item w-100">How</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="dropdown-item w-100">Misc.</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Loan a Critter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Critter Gallery</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fa fa-paw"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
