{% load cloudinary %}
<div hidden class="row text-center safari-only">
    <h5 class="pt-3">For full functionality, do not use Safari web browser on this site. If you are not using Safari, try a different web browser until this message no longer appears. Sorry for the inconvenience.</h5>
</div> 
<div class="row d-flex justify-content-center">
   <div class="grid col-xl-10 pt-3">
      {% for entry in shuffled_entries %}{% if entry.critter_type != 'Dirt' %}                  
      <div class="grid-item not-safari-card-container bg-color-2 rounded">
         <div class="secondborder not-safari-card-front">
            {% cloudinary entry.image.url GALLERY %}
         </div>
         <div hidden class="not-safari-back" >
            <h3 class="mx-auto"><strong>{{ entry.critter_name }}</strong></h3>
            <img class="w-75 rounded mx-auto z-depth-2" src="{{ entry.image.url }}" alt="{{ entry.name }}" onerror="this.onerror=null;this.src='https://res.cloudinary.com/chickpeas/image/upload/v1600164143/kyles_critters/noImage_mumbcz.jpg';">
            <p>{{ entry.critter_info|safe }}</p>
            {% if not product %}
            <p><small>Critter Type</small> <a class="badge-pill badge-primary bg-color-3" href="{% url 'product_detail' entry.critter_type.id %}">{{ entry.critter_type }}</a></p>
            {% endif %}
            {% if request.user.is_staff %}
            <span class="badge badge-pill bg-color-3 mb-2">
            <a class="text-white" href="{% url 'edit_entry' entry.entry_number %}">
            <i class="fas fa-cog fa-sm text-white" aria-hidden="true"></i> Edit</a
               >
            </span>
            {% elif request.user.profile == entry.user_profile %}
            <span class="badge badge-pill bg-color-3 mb-2">
            <a class="text-white" href="{% url 'edit_entry' entry.entry_number %}">
            <i class="fas fa-cog fa-sm text-white" aria-hidden="true"></i> Edit</a
               >
            </span>            
            {% endif %}                                               
         </div>
      </div>
      {% endif %}{% endfor %}                     
   </div>
</div>