<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Loan Request Confirmation</title>
   </head>
   <body>
      <hr>
      <h1>Hi {{ order.full_name }}!</h1>
      <hr>
      <p>This is a confirmation of your order at Kyle's Critters. Your order information is below:</p>
      <hr>
      <p>Order Number: {{ order.order_number }}</p>
      <br> 
      <p>Order Date: {{ order.date }}</p>
      <br> 
      <p>Grand Total: ${{ order.grand_total }}</p>
      <br> 
      <p>Your order will be shipped to {{ order.street_address1 }} in {{ order.town_or_city }}, {{ order.country }}.</p>
      <p>Your phone number is on file as {{ order.phone_number }}.</p>
      <br>
      <p>If you have any questions, feel free to contact us at {{ contact_email }}.</p>
      <br><br>
      <p>Thank you for your order!</p>
      <br>
      <p>Sincerely,</p>
      <br>
      <p>Kyle's Critters</p>
      <a href="https://kyles-crittersv1.herokuapp.com" target="_blank">
      <span>To Kyle's Critters</span>
      </a>
   </body>
</html>