{% extends "base.html" %} {% load cloudinary %} {% load static %} 
{% block content %}

<div class="container bg-color-2 rounded mb-5 mt-5 p-3">
  <div class="row justify-content-center">
    {% cloudinary product.image DETAIL_IMAGE %}
    <div class="col-md-auto text-color-5">
      <h1>{{ product.name }}</h1>
      <p>{{ product.description }}</p>
      <p>${{ product.price }}</p>
      <form
        class=""
        action="{% url 'add_to_cart' product.id %}"
        method="POST"
      >
        {% csrf_token %}
          <div class="md-form">
            <input
              type="number"
              name="quantity"
              id="quantity"
              class="form-control-sm"
              min="1" max="99"
              value="1"
            />
            <label for="quantity">Quantity</label>
          </div>
          <div class="col-12 mb-0">
            <a href="{% url 'products' %}" class="btn bg-color-3 mt-5">
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="text-uppercase">Keep Shopping</span>
            </a>
            <input
              type="submit"
              class="btn bg-color-3 text-uppercase mt-5"
              value="Add to Cart"
            />
          </div>
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
      </form>
    </div>      
  </div>
</div>
{% endblock %}
