{% extends "base.html" %} {% load cloudinary %} {% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block content %}
<div class="container bg-color-2 rounded mt-5 p-3">
  <div class="row justify-content-center">
    <div class="col-md-auto">
    {% cloudinary product.image DETAIL_IMAGE %}
    </div>
    <div class="col-md-auto text-color-5 pt-2">
                 {% if request.user.is_superuser %}
            <h1>{{ product.name }}</h1>                 
          <span class="badge badge-pill badge-cyan bg-color-3 mb-2">
            <a class="text-white" href="{% url 'edit_product' product.id %}">
              <i class="fas fa-cog fa-sm" aria-hidden="true"></i> Edit</a
            >
          </span>
          {% endif %}     
      <p>{{ product.description | safe }}</p>
      <p>${{ product.price }}</p>
      <form action="{% url 'add_to_cart' product.id %}" method="POST">
        {% csrf_token %}
          <div class="md-form">
            <input
              type="number"
              name="quantity"
              id="quantity"
              class="form-control-sm"
              min="1" max="99"
              value="1"
            />
            <label for="quantity">Quantity</label>
          </div>
          <div class="col-12 mb-0">
            <a href="{% url 'products' %}" class="btn btn-sm bg-color-3">
              <span class="icon text-white">
                <i class="fas fa-chevron-left fa-sm"></i>
              </span>
              <span class="text-uppercase text-white">Keep Shopping</span>
            </a>
            <button
              type="submit"
              class="btn bg-color-3 text-uppercase text-white"
            ><i class="fas fa-paw fa-lg"></i> Add to Cart</button>
          </div>
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
      </form>

    </div>      
  </div>
</div>
<div class="container p-3 pb-5">
                {% if shuffled_entries %}
                <div class="row justify-content-center">
                <h4>Critter Showcase</h4>              
                </div>

                {% endif %} 

          <div class="row justify-content-center">

            <div class="grid col-xl-10 pt-3">
                {% for entry in shuffled_entries %}{% if entry.critter_type == product %}              
                <div class="grid-item card card-flip bg-color-2">
                    <div class="card-front">
                        {% cloudinary entry.image.url GALLERY %}
                    </div>
                    <div class="card-back card bg-color-2 logo-font example-1 square scrollbar-cyan thin p-2">
                        <h3 class="mx-auto"><strong>{{ entry.critter_name }}</strong></h3>
                        <img class="w-75 rounded mx-auto" src="{{ entry.image.url }}" alt="{{ entry.name }}">
                        <p>{{ entry.critter_info|safe }}<p>
                        {% if request.user.is_superuser %}
                        <span class="badge badge-pill badge-cyan bg-color-3 mb-2">
                            <a class="text-dark" href="{% url 'edit_entry' entry.entry_number %}">
                            <i class="fas fa-cog fa-sm" aria-hidden="true"></i> Edit</a
                            >
                        </span>
                        {% endif %}                                              
                    </div>
                </div>                   
                {% endif %}{% endfor %}                   
        </div>  
          </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        var $grid = $('.grid').masonry({
    // options...
        itemSelector: '.grid-item',
        columnWidth: 300,
        isFitWidth: true
    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
    });
    </script>
{% endblock %}