{% extends "base.html" %} {% load cloudinary %} {% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
{% endblock %}
{% block content %}
<div class="container bg-color-2 rounded mt-5 p-3">
   <div class="row justify-content-center">
      {% cloudinary product.image DETAIL_IMAGE %}
      <div class="col-md-6 text-color-5 pt-2">
         <h1>{{ product.name }}</h1>
         {% if request.user.is_staff %}   
         <span class="badge badge-pill badge-cyan bg-color-3 mb-2">
         <a class="text-white" href="{% url 'edit_product' product.id %}">
         <i class="fas fa-cog fa-sm" aria-hidden="true"></i> Edit</a>
         </span>
         {% endif %}     
         <p>{{ product.description | safe }}</p>
         <p>${{ product.price }}</p>
         <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            <label for="quantity">Quantity</label>        
            <input
               type="number"
               name="quantity"
               id="quantity"
               class="form-control w-25 mb-3"
               min="1" max="20"
               value="1"
               />
            <div class=" mb-0">
               <a href="{% url 'products' %}?category=critters" class="btn btn-sm bg-color-3">
               <span class="icon text-white">
               <i class="fas fa-chevron-left fa-sm"></i>
               </span>
               <span class="text-uppercase text-white">Back to Critters</span>
               </a>
               <button
               type="submit"
               class="btn bg-color-3 text-uppercase text-white"
               {% if product.out_of_stock %}
               disabled
               >
               Out of Stock
               {% else %}
               >
               <i class="fas fa-paw fa-lg"></i> Add to Cart</button>
               {% endif %}
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}" />
         </form>
      </div>
   </div>
</div>
<div class="container p-3 pb-5">
   {% if shuffled_entries %}
   <div class="row justify-content-center">
      <h4>{{product.name}} Showcase</h4>
   </div>
   <div class="row justify-content-center">
      <p>These pictures are from our customers who bought their critters here!</p>
   </div>
   {# Gallery entries. Requires "shuffled_entries" variable. #}
   {% include 'includes/gallery_masonry.html' %}
   {% endif %}                 
</div>
<div class="p-3 m-3 d-none d-lg-block"></div>
<div class="p-3 m-3 d-none d-xl-block"></div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'includes/masonry_js.html' %}
{% endblock %}